@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

body {
	-webkit-text-size-adjust:100%;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

p {
	max-height:100% !important;
}

#contents {
	width:950px;
	margin:0 auto 0 auto;
}

h2 {
	font-size:17px;
	line-height:29px;
	background:#EDB700;
	color:#FFF;
	padding:6px 0 5px 10px;
	margin:10px 0 0 0;
}

p {
	font-size:14px;
	line-height:24px;
	margin:15px 0 0 0;
}

p .span01 {
	color:#F00;
	font-weight:bold;
	font-size:20px;
}

p .span02 {
	color:#F00;
}

table .red {
	color:#F00;
}

table {
	border-top:#1cd9d2 solid 1px;
	border-left:#1cd9d2 solid 1px;
	margin:15px 0 0 0;
  width: 950px
}

table tr {
  font-size: 10px;
}

table tr th {
	border-bottom:#1cd9d2 solid 1px;
	border-right:#1cd9d2 solid 1px;
	height:40px;
}

table tr td {
	border-bottom:#1cd9d2 solid 1px;
	border-right:#1cd9d2 solid 1px;
	/* font-size:12px; */
	line-height:24px;
	text-align:center;
	padding:8px 3px 7px 3px;
  vertical-align: top;
}

table .th01 {
	background:#EDB700;
	color:#FFF;
	text-align:left;
	font-size:17px;
	line-height:29px;
	padding:0 0 0 10px;
}

table .th02 {
	background:#EDB700;
	text-align:center;
	line-height:28px;
  vertical-align: inherit;
}

table .th_pref {
  background:#EDB700;
  /* text-align:top; */
  line-height: 16px;
}

table .td01 {
	text-align:center;
	font-weight:bold;
}

table .td02 {
	text-align:left;
	padding-left:15px;
	font-weight:normal;
}

a {
	font-size:20px;
	line-height:35px;
	color:#000;
	text-decoration:underline;
	font-weight:bold;
}

a:hover {
	text-decoration:none;
	color:#009933;
}

.page_bottom {
	background:#009933;
	color:#FFF;
	text-align:center;
	font-size:13px;
	line-height:15px;
	padding:14px 0 11px 0;
}


/* その他 */


.c_center {
	text-align:center;
}

.mt10{
	margin-top:10px;
}

.mt20{
	margin-top:20px;
}

.mt30{
	margin-top:30px;
}

.mt40{
	margin-top:40px;
}

.mt50{
	margin-top:50px;
}

.mt60{
	margin-top:60px;
}

.mt70{
	margin-top:70px;
}

.mt80{
	margin-top:80px;
}

.mt90{
	margin-top:90px;
}

.mt100{
	margin-top:100px;
}

.mb10{
	margin-bottom:10px;
}

.mb20{
	margin-bottom:20px;
}

.mb30{
	margin-bottom:30px;
}

.mb40{
	margin-bottom:40px;
}

.mb50{
	margin-bottom:50px;
}

.mb60{
	margin-bottom:60px;
}

.mb70{
	margin-bottom:70px;
}

.mb80{
	margin-bottom:80px;
}

.mb90{
	margin-bottom:90px;
}

.mb100{
	margin-bottom:100px;
}
